XMLfiles/XSD/xml29.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cualquiera">
    <xs:sequence>
      <xs:element name="a" type="xs:string"/>
      <xs:element name="b" type="xs:string"/>
      <xs:element name="c" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="atributoa" type="xs:string"/>
    <xs:attribute name="atributob" type="xs:string"/>
  </xs:complexType>
  <xs:element name="raiz2" type="cualquiera"/>
</xs:schema>
